* {
  box-sizing: border-box;
  text-transform: capitalize;
  padding: 0;
  margin: 0;
}

button {
  outline: none;
}

ul {
  list-style: none;
}

.init-color {
  text-decoration: none;
  color: initial;
}

.init-color:hover {
  color: initial;
}

.effect {
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
}

#prog-bar {
  position: fixed;
  top: 0;
  width: 0px;
  height: 5px;
  background: #00bcd4;
}

header {
  font-family: "M PLUS 1", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 32px;
  position: fixed;
  width: 100vw;
}

header .first-part a {
  color: initial;
}

header .first-part a > svg {
  width: 100px;
  height: 12px;
}

header .second-part ul,
.header .third-part ul {
  display: flex;
}

header .second-part ul > li,
header .third-part ul > li {
  color: #171a20;
  font-weight: bold;
  cursor: pointer;
  padding: 5px 10px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.aside-btn {
  background: rgba(255, 255, 255, 0);
  box-shadow: 0px 0px 5px rgb(0 0 0 / 15%);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(20px);
}

@media (max-width: 991px) {
  .desktop {
    display: none;
  }
}

aside button {
  text-align: end;
  padding: 0.5rem;
  font-size: 30px;
  border: none;
  background-color: #fff;
  display: block;
  width: 100%;
}
aside {
  opacity: 0;
  width: 250px;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 1;
  transition: 1s ease-out;
  -webkit-transition: 1s ease-out;
  -moz-transition: 1s ease-out;
  -ms-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  overflow: scroll;
  transform: translateX(-250px);
  -webkit-transform: translateX(-250px);
  -moz-transform: translateX(-250px);
  -ms-transform: translateX(-250px);
  -o-transform: translateX(-250px);
}

.opacity {
  opacity: 1 !important;
}

aside .aside-links {
  font-family: "M PLUS 1", sans-serif;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

aside .aside-links li {
  margin-bottom: 1vh;
  color: #393c41;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  padding: 4px 8px;
  background-color: #fff;
  width: 100%;
  font-size: 17px;
}

aside .aside-links li:hover {
  background-color: #eee;
}

section > .blur-effect {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
}

.show_blur {
  display: block !important;
}

section.one,
section.two,
section.three,
section.four,
section.five,
section.six,
section.seven {
  height: 100vh;
  background-attachment: fixed;
}

section.one {
  background-image: url(../imgs/car_1.jpg);
  background-size: cover;
  background-position: center center;
}

section.two {
  background-image: url(../imgs/car_2.jpg);
  background-size: cover;
  background-position: center center;
}

section.three {
  background-image: url(../imgs/car_3.jpg);
  background-size: cover;
  background-position: center center;
}

section.four {
  background-image: url(../imgs/car_4.jpg);
  background-size: cover;
  background-position: center center;
}

section.five {
  background-image: url(../imgs/solar_roof.webp);
  background-size: cover;
  background-position: center center;
}

section.six {
  background-image: url(../imgs/roof.jpg);
  background-size: cover;
  background-position: center center;
}

section.seven {
  background-image: url(../imgs/accerssories.jpg);
  background-size: cover;
  background-position: center center;
}

section .content {
  width: 100%;
  height: 100vh;
  padding-top: 15vh;
  padding-bottom: 15vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section .content .model-content h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #20232b;
  font-family: "M PLUS 1", sans-serif;
}

section .content .model-content p > a {
  color: initial;
}

section .content .btn-holder {
  display: flex;
  justify-content: center;
  gap: 10px;
}

section .content .btn-holder button {
  padding: 4px 24px;
  width: 264px;
  border: none;
  font-family: "M PLUS 1", sans-serif;
}

section .content .btn-holder button.btn-one {
  background-color: #171a20;
  color: white;
  font-weight: bold;
}

section .content .btn-holder button.btn-two {
  background-color: #f4f4f4a6;
  color: black;
  font-weight: bold;
}

@media (max-width: 991px) {
  section .content .btn-holder {
    display: block;
    font-size: 14px;
  }
  section .content .btn-holder button.btn-one {
    margin-bottom: 1rem;
  }
}

::-webkit-scrollbar {
  display: none;
}
